.pollenmapWrapper {
	
  color:#555;
  font-size:14px;
  line-height:24px;
}

@media only screen and (max-width: 910px) { 
	.pollenmapWrapper .tabs li {font-size: 0.8em;}
}

@media only screen and (max-width: 760px) { 
.pollenmapWrapper { width: 100%;}
	.pollenmapWrapper .tabs li {font-size: 0.9em;}
}

.pollenmapWrapper .tabs {
		 list-style: none;
		 margin: 0;
		 padding: 0;
		 border: 0;
}

 .pollenmapWrapper  .tabs li {
    float:left;
    width:20%;
  }

.pollenmapWrapper  .tabs a {
		 display:block;
		 text-align:center;
		 text-decoration:none;
		 color:#234e09;
		 padding:10px 0;
		 border-bottom:4px solid #FFF;
		 background-color:#a8ca8d;
		 border-radius: 10px;
		 border: 4px solid #E6F0DE;
		 transition: background linear 0.2s;
	box-shadow: none;
}

@media only screen and (max-width: 760px) {
.pollenmapWrapper  .tabs a {
		 border: 4px solid #FFF;
	}
}
    
@media only screen and (max-width: 414px) {

.pollenmapWrapper .tabs li { 
	font-size: 0.68em;}
	}

.pollenmapWrapper .tabs a:hover {

      background-color:#90ac79;
    }

.pollenmapWrapper .tabs a.active {
		 border-left: 0;
		 border-right: 0;
		 color: black;
		 background-color:#7CB2A4;
		 border-bottom: 4px solid #7CB2A4; border-bottom-right-radius: 0; border-bottom-left-radius: 0;
    }

 
.pollenmapWrapper .tabgroup  div {
	
	height: 0;
	padding:0;
	padding-bottom: 100%;
	width: 100%;
	margin-bottom: 1rem;
	background: #7CB2A4 url(../fonts/loader.svg)  no-repeat center center;
}

.pollenmapWrapper .tabgroup img {width: 100%;}